%ul.breadcrumb
  - node_decorate.parents.each do |parent|
    %li
      = link_to parent.name, parent.url
      %span.divider= "/"
  %li
    = link_to node_decorate.name, node_decorate.url

.btn-group
  = link_to t('.add_directory'), new_directory_url(:dirname => node_decorate.full_path), :class => 'btn btn-primary'
  = link_to t('.add_file'), new_file_url(:dirname => node_decorate.full_path), :class => 'btn btn-primary'

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Type
      %th Size
  %tbody
    - node_decorate.ls.each do |n|
      %tr
        %td= n.name
        %td= n.file_type
        %td= n.size
