- if object.errors.any?
  %div(id="error_explanation")
    %h2= "Oops, looks like  #{pluralize(object.errors.count, "error")} occured:"
    %br
    %ul
      - object.errors.each do |key, msg|
        %li= "#{key} #{msg}"
